# Output de Dynare
*/metropolis/
*/graphs/
*/model/
*/Output/
!*/Output/*_mode.mat
+*/
*_dynamic.m
*_static.m
*_set_auxiliary_variables.m
*_objective_static.m
*_objective_dynamic.m
*.jnl
*.log
*_results.mat

# MATLAB
*.asv
*.mex*

# Regenerables
suavizados.mat
irfs_A.mat
resultados_B.mat
